* {
  box-sizing: border-box;
}

body {
  font-family: "Graphik LCG", "sans-serif";
}

.header {
  max-width: 1440px;
  border-bottom: 1px solid #CCCCCC;
  padding: 25px 0 25px;
}

.container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.header__wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__logo {
  margin-right: 51px;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: row;
}

.header__link {
  text-decoration: none;
  margin-right: 57px;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.header__link:hover {
  color: #FF6336;
}

.header__link:nth-of-type(3) {
  margin-right: 42px;
}

.header__link:nth-of-type(4) {
  margin-right: 49px;
}

.header__link:last-child {
  margin-right: 238px;
}

.header__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.header__buttons__link {
  margin-right: 10px;
  padding: 1px 36px 1px 36px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 45px;
  text-align: center;
  color: #000000;
}

.header__buttons__link:hover {
  background: #FF6336;
  border: 1px solid #FF6336;
  color: #FFFFFF;
}

.header__buttons__link:last-child {
  margin-right: 0px;
  padding: 1px 22px 1px 21px;
}

.main {
  max-width: 1440px;
  padding: 129px 0 172px;
}

.main__wrap {
  display: flex;
}

.main__description {
  display: flex;
  flex-direction: column;
}

.main__description__title {
  max-width: 540px;
  font-weight: 600;
  font-size: 65px;
  line-height: 70px;
  color: #000000;
}

.main__description__text {
  max-width: 471px;
  font-size: 25px;
  line-height: 35px;
  color: #000000;
  margin-top: 51px;
}

.main__buttons {
  display: flex;
}

.main__buttons__link {
  margin-right: 10px;
  padding: 1px 36px 1px 36px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-top: 50px;
}

.main__buttons__link:hover {
  background: #FF6336;
  border: 1px solid #FF6336;
  color: #FFFFFF;
}

.main__buttons__link:last-child {
  margin-right: 0px;
  padding: 1px 22px 1px 21px;
}

.main__description__text-extra {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-top: 25px;
}

.main__baner {
  display: flex;
  flex-direction: row-reverse;
}

.main__baner__icon {
  max-width: 750px;
  margin-top: 22px;
}

.companies {
  max-width: 1440px;
  background: #FF9C7D;
  padding: 108px 0 104px;
}

.companies__wrap {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  line-height: 60px;
  color: #000000;
}

.companies__title {
  max-width: 720px;
}

.companies__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.card {
  max-width: 1440px;
  padding-top: 90px;
}

.card__wrap {
  display: flex;
  margin-bottom: 250px;
}

.card__wrap:last-of-type {
  display: flex;
  margin-bottom: 150px;
}

.card__description:nth-child(1) {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0px;
  margin-right: 138px;
}

.card__description:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 0px;
  margin-left: 138px;
  max-width: 450px;
}

.card__description__text {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  max-width: 500px;
  margin-top: 30px;
}

.card__description__link {
  color: #000000;
}

.card__description__link:hover {
  color: #FF6336;
}

.card__description__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  margin-top: 30px;
}

.card__description__button:hover {
  color: #FF6336;
}

.socials {
  max-width: 1440px;
  background: #FFF8E4;
  padding: 120px 0 147px 0;
}

.socials__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socials__title {
  margin-bottom: 80px;
}

.socials__card-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.socials__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 310px;
  margin-bottom: 75px;
  margin-right: 130px;
}

.socials__card__icon-wrap {
  max-width: 160px;
  height: 126px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.socials__card:nth-child(3n) {
  margin-right: 0px;
}

.socials__card__title {
  font-weight: 600;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #000000;
}

.socials__card__text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
}

.socials__card__link {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}

.socials__card__link:hover {
  color: #FF6336;
}

.about {
  max-width: 1440px;
  padding: 154px 0 187px 0;
}

.about__title {
  margin-bottom: 75px;
}

.about__wrap {
  display: flex;
}

.about__card {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 410px;
}

.about__card:last-child {
  margin-right: 0px;
}

.about__card__icon-wrap {
  width: 179px;
  height: 201px;
  margin-bottom: 49px;
  display: flex;
  align-items: flex-start;
}

.about__card__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
}

.about__card__text {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 34px;
}

.about__card__link {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 25px;
}

.about__card__link:hover {
  color: #FF6336;
}

.info {
  max-width: 1440px;
  background: #C9E8F2;
  padding: 53px 0 105px 0;
}

.info__wrap {
  display: flex;
}

.info__description {
  display: flex;
  flex-direction: column;
}

.info__description__text {
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  max-width: 895px;
  margin-top: 10px;
}

.info__description__text-autor {
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  margin-top: 23px;
}

.info__icon-wrap {
  display: flex;
  flex-direction: row-reverse;
  margin-left: 85px;
}

.commercial {
  max-width: 1440px;
  background: #DABC98;
  padding: 80px 0 84px 0;
}

.commercial__wrap {
  display: flex;
  flex-direction: row;
}

.commercial__description {
  display: flex;
  flex-direction: row;
  border-right: 1px solid #000000;
  max-width: 809px;
}

.commercial__description__title {
  font-weight: 600;
  font-size: 35px;
  line-height: 50px;
  color: #000000;
  margin-left: 67px;
  margin-top: 36px;
  margin-right: 104px;
}

.commercial__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 71px;
}

.commercial__card__link {
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.75px;
  color: #000000;
  margin-top: 14px;
  text-decoration: none;
}

.commercial__card__link-icon {
  margin-bottom: 20px;
}

.commercial__card__link:hover {
  color: #FF6336;
}

.integration {
  max-width: 1440px;
}
.integration__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 165px 0px 162px 0px;
}
.integration__title {
  max-width: 791px;
  text-align: center;
}
.integration__text {
  max-width: 539px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}
.integration__icon {
  margin-top: 25px;
  margin-bottom: 32px;
}
.integration__button {
  display: flex;
}
.integration__button__link {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #ffff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 60px;
  color: #000000;
  padding: 0px 20px 0px 20px;
}
.integration__button__link:hover {
  background: #FF6336;
  border: 1px solid #FF6336;
  color: #FFFFFF;
}

.why-wait {
  max-width: 1440px;
  background: #FF9C7D;
}
.why-wait__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 119px 0px 161px 0px;
}
.why-wait__text {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 54px;
}
.why-wait__button {
  display: flex;
}
.why-wait__button__link {
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #000000;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  color: #FFFFFF;
  padding: 0px 40px 0px 40px;
}
.why-wait__button__link:hover {
  background: #FF6336;
  border: 1px solid #FF6336;
  color: #000000;
}

.footer {
  max-width: 1440px;
  background: #EEEEEE;
}
.footer__wrap {
  display: flex;
  flex-direction: row;
  padding: 92px 0px 95px 0px;
  border-bottom: 1px solid #000;
}
.footer__card {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-right: 140px;
}
.footer__card__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin-bottom: 28px;
}
.footer__card__icon-link {
  max-width: 80px;
  height: 32px;
  margin-top: 31px;
}
.footer__card__text {
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 10px;
}
.footer__card__button {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  margin-top: 15px;
}
.footer__card__button:hover {
  color: #FF6336;
}
.footer__card-nav {
  display: flex;
}
.footer__card-nav__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 187px;
  margin-right: 34px;
}
.footer__card-nav__column:last-child {
  margin-right: 0px;
}
.footer__card-nav__title {
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.footer__card-nav__link {
  font-size: 15px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
  margin-top: 15px;
}
.footer__card-nav__link:nth-of-type(1) {
  margin-top: 21px;
}

.footer-line {
  padding: 52px 0px 43px 0px;
}
.footer-line__wrap {
  display: flex;
  justify-content: space-between;
}
.footer-line__description {
  display: flex;
  flex-direction: row;
}
.footer-line__description__text {
  max-width: 301px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.footer-line__link-logo {
  margin-right: 14px;
}
.footer-line__copyright {
  display: flex;
  flex-direction: row-reverse;
}
.footer-line__copyright__wrap {
  display: flex;
  flex-direction: column;
  margin-right: 76px;
  margin-bottom: 5px;
}
.footer-line__copyright__text {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}
.footer-line__copyright__link {
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  text-decoration: none;
}

@media (max-width:1289px) {
  .header {
    padding: 20px 0px 20px 0px;
  }

  .container {
    padding: 0 20px;
  }

  .header__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__link:last-child {
    margin-right: 0px;
  }

  .header__buttons {
    margin-top: 10px;
    margin-left: 80px;
  }

  .main {
    padding: 20px 0px 20px 0px 
    ;
  }

  .main__description__title {
    font-size: 25px;
    line-height: 30px;
  }

  .main__description__text {
    font-size: 20px;
    margin-top: 20px;
  }

  .main__baner__icon {
    max-width: 100%
  }

  .main__buttons {
    flex-direction: column;
  }

  .main__buttons__link {
    margin-top: 20px;
    margin-right: 0px;
  }

  .main__buttons__link:nth-child(2) {
    margin-top: 10px;
  }

  .main__description__text-extra {
    margin-top: 20px;
  }

  .companies {
    padding: 20px 0px 20px;
  }

  .companies__logo {
    margin-top: 20px;
    flex-direction: column;
  }
  .companies__logo__link {
    margin-top: 20px;
  }

  .card {
    padding-top: 50px;
  }

  .card__description:nth-child(1){
    margin-right: 40px;
  }

  .card__description:nth-child(2) {
    margin-left: 40px;
  }

  .card__description:nth-child(3) {
    margin-right: 40px;
  }

  .card__description:nth-child(4) {
    margin-left: 40px;
  }

  .card__description__title {
    text-align: left;
    font-size: 40px;
  }

  .card__description__text {
    margin-top: 20px;
  }

  .card__baner__icon {
    max-width: 100%;
  }

  .card__wrap {
    margin-bottom: 50px;
  }

  .socials {
    padding: 50px 0 30px 0;
  }

  .socials__title {
    margin-bottom: 40px;
  }

  .socials__card {
    margin-bottom: 40px;
    margin-right: 10px;
  }

  .about {
    padding: 50px 0 50px 0;
  }

  .info {
    padding: 50px 0 50px 0;
  }

  .info__wrap {
    flex-wrap: wrap;
  }

  .info__description__text {
    font-size: 25px;
  }

  .info__description__text-autor {
    margin-top: 10px;
  }

  .info__description__link {
    margin-top: 10px;
  }

  .info__icon-wrap {
    margin-top: 10px;
    margin-left: 0px;
  }

  .commercial {
    padding: 50px 0 50px;
  }

  .commercial__description {
    max-width: 60%;
  }

  .commercial__card {
    margin-left: 20px;
  }

  .commercial__description__title {
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
  }

  .integration__wrap {
    padding: 50px 0 50px;
  }

  .integration__icon {
    max-width: 100%;
  }

  .why-wait__wrap {
    padding: 50px 0 50px;
  }

  .why-wait__title {
    font-size: 40px;
  }

  .why-wait__text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .footer__wrap {
    padding: 50px 0 50px;
  }

  .footer__card {
    margin-right: 40px;
  }

  .footer__card-nav {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer__card-nav__column {
    margin-right: 20px;
  }

}

@media (max-width:767px) {

  .header__wrap {
   flex-direction: column;
   
  }

  .header__nav {
    flex-direction: column;
    align-items: center;
  }

  .header__link {
    margin-right: 0px;
    font-size: 20px;
    line-height: 25px;
  }

  .header__link:nth-of-type(3) {
    margin-right: 0px;
  }

  .header__link:nth-of-type(4) {
    margin-right: 0px;
  }

  .header__logo {
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .header__buttons {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }

  .header__buttons__link {
    margin-right: 0px;
    width: 100%;
  }

  .main__wrap {
    flex-wrap: wrap;
  }

  .main__description {
    margin-left: auto;
    margin-right: auto;
  }

  .main__description__title {
    text-align: center;
    font-size: 30px;
    line-height: 40px;
  }

  .main__description__text {
    text-align: center;
    align-self: center;
  }

  .main__buttons {
    justify-content: center;
    flex-direction: column;
  }

  .main__baner__icon {
    max-width: 100%
  }

  .companies__title {

    font-size: 40px;
    line-height: 50px;
  }

  .card__wrap {
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
    justify-content: center;
  }

  .card__wrap:last-of-type {
    margin-bottom: 50px;
  }

  .card__wrap:nth-child(2){
    flex-wrap: wrap;
  }

  .card__wrap:nth-child(4) {
    flex-wrap: wrap;
  }

  .card__description:nth-child(1) {
    margin-right: 0px;
  }

  .card__description:nth-child(2) {
    margin-left: 0px;
  }

  .card__description__title {
    text-align: center;
    line-height: 50px;
  }

  .card__description__text {
    text-align: center;
  }

  .card__description__button {
    text-align: center;
  }

  .socials__title  {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .about {
    padding: 50px 0 10px 0;
  }

  .about__wrap {
    flex-direction: column;
  }

  .about__title {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 40px;
  }

  .about__card {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-bottom: 40px;
  }

  .about__card:last-child {
    margin-left: auto;
    margin-right: auto;
  }

  .about__card__text {
    margin-top: 20px;
    text-align: center;
  }

  .commercial__wrap {
    flex-direction: column;
    align-items: center;
  }

  .commercial__description {
    flex-direction: column;
    border-right: none;
    border-bottom: 1px solid #000;
  }

  .commercial__description__title {
    margin: 0px;
    text-align: center;
  }

  .commercial__card {
    margin-left: 0px;
    margin-top: 20px;
    align-items: center;
  }

  .integration__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .why-wait__title {
    line-height: 50px;
  }

  .why-wait__text {
    text-align: center;
  }

  .footer__wrap {
    flex-direction: column;
    padding: 30px 0 30px;
  }

  .footer__card__title {
    text-align: center;
  }

  .footer__card {
    margin-right: 0px;
  }

  .footer__card-nav {
    flex-direction: column;
  }

  .footer__card-nav__column {
    margin-bottom: 20px;
  }

  .footer__card-nav__column:nth-child(1) {
    margin-top: 20px;
  }

  .footer-line {
    padding: 30px 0 30px;
  }

  .footer-line__wrap {
    flex-direction: column;
  }

  .footer-line__description {
    flex-direction: column;
  }

  .footer-line__copyright {
    flex-direction: column;
  }

  .footer-line__link-logo {
    margin-right: 0px;
  }

  .footer-line__description__text {
    margin-top: 10px;
  }

  .footer-line__copyright__wrap {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  .footer-line__copyright__link {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
