* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Semibold.eot');
    src: url('fonts/GraphikLCG-Semibold.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Semibold.woff2') format('woff2'),
        url('fonts/GraphikLCG-Semibold.woff') format('woff'),
        url('fonts/GraphikLCG-Semibold.ttf') format('truetype'),
        url('fonts/GraphikLCG-Semibold.svg#GraphikLCG-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('fonts/GraphikLCG-Regular.eot');
    src: url('fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/GraphikLCG-Regular.woff2') format('woff2'),
        url('fonts/GraphikLCG-Regular.woff') format('woff'),
        url('fonts/GraphikLCG-Regular.ttf') format('truetype'),
        url('fonts/GraphikLCG-Regular.svg#GraphikLCG-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Graphik LCG', 'sans-serif';
}

/* 1) HEADER */

.header {
    width: 1440px;
    border-bottom: 1px solid #CCCCCC;
    padding: 25px 0 25px;
}

.container {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-logo__link {
    margin-right: 51px;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    flex-direction: row;
}

.header__link {
    text-decoration: none;
    margin-right: 57px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.header__link:hover {
    color: #FF6336;
}

.header__link:nth-of-type(3) {
    margin-right: 42px;
}

.header__link:nth-of-type(4) {
    margin-right: 49px;
}

.header__link:last-child {
    margin-right:0px;
}

.header-buttons {
    width: 570px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-buttons__link {
    margin-right: 10px;
    width: 120px;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}

.header-buttons__link:hover{
    background: #FF6336;
    border: 1px solid #FF6336;
    color: #FFFFFF;
}

.header-buttons__link:last-child{
    margin-right: 0px;
}

/* 2) MAIN */

.main {
    width: 1440px;
    padding: 129px 0 172px;
}

.main-wrap {
    display: flex;
}

.main-description{
    display: flex;
    flex-direction: column;
}

.main-description__title {
    width: 540px;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
}

.main-description__text {
    width: 471px;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-top: 51px;
}

.main-buttons {
    display: flex;
}

.main-buttons__link {
    margin-right: 10px;
    width: 160px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-color: #ffff;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #000000;
    margin-top: 50px;
}

.main-buttons__link:hover {
    background: #FF6336;
    border: 1px solid #FF6336;
    color: #FFFFFF;
}

.main-buttons__link:last-child {
    margin-right: 0px;
}

.main-description__text-extra {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 25px;
}

.main-baner {
    display: flex;
    flex-direction: row-reverse;
}

.main-baner__icon {
    width: 750px;
    margin-top: 22px;
}

/* 3) MAIN-COMPANIES */

.companies {
    width: 1440px;
    background: #FF9C7D;
    padding: 108px 0 104px;
}

.companies-wrap {
    display: flex;
    justify-content: center;
}

.title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    color: #000000;
}

.companies__title {
    width: 720px;
}

.companies-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

/* 4) MAIN-CARD */

.card{
    width: 1440px;
    padding-top: 90px;
}

.card-wrap {
    display: flex;
    margin-bottom: 250px;
}
.card-wrap:last-of-type {
    display: flex;
    margin-bottom: 150px;
}

.card-description:nth-child(1){
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-right: 138px;
}

.card-description:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 0px;
    margin-left: 138px;
    max-width: 450px;
}

.card-description__text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    max-width: 500px;
    margin-top: 30px;
}

.card-description__link {
    color: #000000;
}

.card-description__link:hover {
    color: #FF6336;
}

.card-button__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
    margin-top: 30px;
}

.card-button__link:hover {
    color: #FF6336;
}

/* 5) SECTION-SOCIALS */

.socials {
    width: 1440px;
    background: #FFF8E4;
    padding: 120px 0 147px 0;
}

.socials-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socials__title {
    margin-bottom: 80px;
}

.socials-card-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.socials-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 310px;
    margin-bottom: 75px;
    margin-right: 130px;
}

.socials-icon-wrap {
    width: 160px;
    height: 126px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.socials-card:nth-child(3n) {
    margin-right: 0px;
  }

.socials-card__title {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.socials-card__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.socials-card__link {
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.socials-card__link:hover {
    color: #FF6336;
}

/* 6) SECTION-ABOUT */

.about {
    width: 1440px;
    padding: 154px 0 187px 0;
}

.about__title {
    margin-bottom: 75px;
}

.about-wrap {
    display: flex;
}

.about-card {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    max-width: 410px;
}

.about-card:last-child {
    margin-right: 0px;
}

.about-icon-wrap {
    width: 179px;
    height: 201px;
    margin-bottom: 49px;
    display: flex;
    align-items: flex-start;
}

.about-card__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.about-card__text {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 34px;
}

.about-card__link {
    font-size: 20px;
    line-height: 30px;
    color: #000000;
    margin-top: 25px;
}

.about-card__link:hover {
    color: #FF6336;
}

/* 7) SECTION-INFO */

.info {
    width: 1440px;
    background: #C9E8F2;
    padding: 53px 0 105px 0;
}

.info-wrap {
    display: flex;
}

.info-description {
    display: flex;
    flex-direction: column;
}

.info-description__text {
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    width: 895px;
    margin-top: 10px;
}

.info-description__text-autor {
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 23px;
}

.info-wrap__icon {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 85px;
}

/* 8) SECTION-COMMERCIAL */

.commercial {
    width: 1440px;
    background: #DABC98;
    padding: 80px 0 84px 0;
}

.commercial-wrap {
    display: flex;
    flex-direction: row;
    
}

.commercial-description {
    display: flex;
    flex-direction: row;
    border-right: 1px solid #000000;
    width: 809px;
}

.commercial-description__title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    color: #000000;
    margin-left: 67px;
    margin-top: 36px;
    margin-right: 104px;
}

.commercial-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 71px;
}

.commercial-card__link {
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.75px;
    color: #000000;
    margin-top: 14px;
    text-decoration: none;
}

.commercial-card__link-icon {
    margin-bottom: 20px;
}

.commercial-card__link:hover {
    color: #FF6336;
}




